<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kujipa.ocrtuto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Projet_dev_mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Page_accueil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT.ACTIVITY" android:value="./page_maintenance, ./page_machine"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".page_machine">
            <meta-data android:name="android.support.PARENT.ACTIVITY" android:value="./MainActivity" />
        </activity>

        <activity
            android:name=".page_porte">
            <meta-data android:name="android.support.PARENT.ACTIVITY" android:value="./MainActivity" />
        </activity>

        <activity
            android:name=".page_maintenance">
            <meta-data android:name="android.support.PARENT.ACTIVITY" android:value="./MainActivity" />
        </activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>